.header_main{
	box-shadow: 0px 1px 5px grey;
	width: 100%;
}
.main-menu {
	padding: 0 30px;
}
.top_menu  .main-menu a {
	color: #394e60;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif; 
	padding: 0 15px;
}
.top_menu .main-menu a:hover {
	text-decoration: none;
	color: #27b3c6;
	transition: 500ms ease-in;
}
.top_menu  .main-menu .current-menu-item a  {
	color: #28b3c5;
}
.top_menu .search_header input {
	margin-right: 0px !important;
	font-size: 14px;
	padding:12px 26px 12px 45px;
	border-radius: 4px 0 0 4px;
	background-image: url('../images/search_icon.png');
	background-repeat: no-repeat;
	background-position: 8px 10px;
}
.top_menu .search_header input:focus{
	box-shadow:unset;
}
.top_menu .search_header .btn-outline-success:focus, .top_menu .search_header .btn-outline-success:active {
	box-shadow:unset !important;
	background-color: #27b3c6 !important;
}
.top_menu .search_header .btn-outline-success {
	background: #27b3c6;
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 13px 45px;
	border-radius: 0 4px 4px 0;
}
.top_menu .search_header .btn-outline-success:hover {
	background: #2196a6;
}
