@import url('star-rating.css');

.review_cat_title {
	background: #27b3c6;
	padding: 20px 0;
}
.home .main-container {
	padding: 0px !important;
}
.review_cat_title .vry_bst {
	text-align: center;
	font-size: 22px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 0;
	max-width: 85%;
}
.review_cat_title .home_title {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	padding: 10px 0;
	margin: 0 auto;
}
.review_cat_list {
	width: 100%;
	clear: both;
	padding: 30px 0;
}
.review_cat_list ul {
	padding: 0px;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.review_cat_list li {
	display: inline-block;
	list-style: none;
	text-align: center;
	background: #27b3c6;
	height: 156px;
	margin-right: 20px;
	padding: 20px 10px;
	cursor: pointer;
	width: 165px;
	box-shadow: 0 4px 8px rgba(61,82,104,0.12),2px 0px 8px rgba(22,30,39,0.02);
}
.review_cat_list li:last-child {
	margin-right: 0px;
}
.review_cat_list li:hover {
	background: #2196a6;
	box-shadow: 0 16px 48px rgba(61,82,104,0.12),0 8px 16px rgba(22,30,39,0.08);
	transform: scale(1.05, 1.05);
}
.review_cat_list h3 {
	font-size: 14px;
	margin-top: 14px;
	font-weight: 700;
	margin-bottom: 0;
	color: #fff;
}
.review_cat_list a:hover {
	text-decoration: none;
}
/*review*/
.top_rev_title {
	display: inline-block;
	width: 30%;
	font-size: 32px;
	text-transform: capitalize;
	font-weight: 600;
}
.tax-review-type .top_rev_title {
	width: 52%;
}
.home .recommended ul{
	width: 69%;
	display: inline-block;
	text-align: right;
}
.home .recommended li:first-child {
	margin-right: 5px;
}
.recommended ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 80%;
	display: inline;
	text-transform: uppercase;
}
.allreviews {
	margin-bottom: 20px;
}
.recommended ul li {
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}
.recommended li:first-child{
	color: #2196a6;
}
.recommended ul li a.activein {
	font-weight: 600;
	color: #000000 !important;
}
.recommended ul li a {
	font-size: 12px;
	color: #8d8e8e !important;
	font-weight: 600;
}
.reviews-middle .rev_cat_name {
	font-size: 12px !important;
	text-transform: uppercase;
	font-weight: 600;
	color: #28b3c6 !important;
	line-height: 25px;
	display: block !important;
}
.reviews-middle .review_nm {
	text-transform: capitalize;
	color: #000 !important;
	font-size: 18px !important;
	font-weight: 600;
	line-height: 25px;
	display: block !important;
}
.reviews-middle .review_nm a {
	color: #000;
}
.reviews-middle .review_nm a:hover {
	text-decoration: none;
}
.whiteback {
	display: block;
}
.whiteback h2 {
	display: none;
}
.reviews-left {
	position: relative;
	text-align: center;
}
.reviews-left a.video-play {
	color: #fff;
	display: block;
	position: absolute;
	width: 100px;
	height: 44px;
	right: 0;
	background: #2EB3C7;
	top: 0;
}
span.btnpl {
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	position: absolute;
	left: 5px;
	line-height: 44px;
	z-index: 9;
}
.play {
	position: absolute;
	right: 0;
	margin: 0 auto;
	border: 0px !important;
}
.top_rev_box {
	border: 1px solid #e8e8e8;
	box-shadow: 0px 1px 10px #e8e8e8;
}
.reviews-middle {
	background: #f8f8f8;
	padding: 20px 15px;
}
.reviews-middle h2 {
	font-size: 20px;
	color: #3e4e5f;
	font-weight: 700;
	margin: 0 0 15px 0;
	display: block !important;
	border-bottom: 2px solid #ececec;
	padding-bottom: 12px;
}
.reviews-middle h2 span {
	color: #bcbec0;
	display: inline-block;
	font-size: 14px;
}
.reviews-middle h2 span {
	color: #bcbec0;
	font-size: 14px;
}
.reviews-middle p {
	font-size: 14px;
	color: #111111;
	margin-bottom: 8px;
}
.reviews-right {
	display: block;
}
.reviews-rightin {
	margin-bottom: 12px;
	background: #29a4b9;
	padding: 8px 20px;
	float: left;
	width: 50%;
}
.circle {
	width: 100%;
	margin: 0px 0px 0px 0;
	display: inline-block;
	position: relative;
	text-align: center;
	line-height: 1.2;
}
.circle canvas {
	vertical-align: top;
	width: 50px !important;
	height: 50px !important;
}
.circle strong {
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 0px;
}
.circle span {
	display: block;
	margin-top: 0px;
	font-size: 12px;
	color: #fff;
	font-weight: 300;
	margin: 5px 0 0 0;
}
.reviews-rightinn {
	margin-bottom: 0px;
	background: #3a4e61;
	padding: 8px 20px;
	float: left;
	width: 50%;
}
.home_cat_filter {
	border-bottom: 1px solid #ececec;
	padding-bottom: 15px;
	margin-bottom: 40px;
}
.recommended select {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	border: none;
	text-transform: uppercase;
	color: #27b3c6;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	background-image: url('../images/drowdown_arrow.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
	text-align: center;
}
.reviews-left .img-responsive {
	display: inline-block;
}
.review_newsletter {
	background: #23a4b7;
	padding:20px 0 10px 0;
	text-align: center;
}
.review_news_content {
	display: inline-block;
	width: 100%;
}
.review_news_content .mo-optin-form-headline {
	font-size: 32px !important;
	color: #fff;
	font-weight: 300 !important;
	line-height: normal !important;
	margin-bottom: 15px !important;
}
.review_news_content .fca_eoi_layout_widget {
	max-width: 100% !important;
	border: none !important;
}
.review_news_content .lupinSidebar-form {
	margin: 0 auto !important;
}
.review_news_content .mo-optin-powered-by img {
	width: 0px !important;
	max-width: 0px !important;
}
#fca_eoi_form_1012 .fca_eoi_layout_5.fca_eoi_layout_widget div.fca_eoi_layout_headline_copy_wrapper div {
	font-weight: 300;
	margin-bottom: 20px;
}
input.fca_eoi_form_button_element {
	border-bottom: 0!important;
}
.fca_eoi_layout_content_wrapper {
	padding-bottom: 10px;
}
.review_news_content .fca_eoi_layout_submit_button_wrapper {
	border: none;
	background: #394e60;
	color: #fff;
	border-radius: 5px;
	font-size: 14px !important;
	line-height: 22px !important;
	font-weight: 600;
	letter-spacing: 1px;
	width: 24% !important;
	padding: 12px 50px;
	display: inline-block !important;
}
.review_news_content .lupinSidebar-form {
	max-width: 100% !important;
}
.review_news_content .fca_eoi_layout_email_field_wrapper {
	border: none !important;
	border-radius: 5px !important;
	width: 38% !important;
	margin-right: 12px !important;
	display: inline-block !important;
	padding: 1px 25px !important;
	text-align: left !important;
	font-size: 14px !important;
	line-height: 22px !important
}
div.fca_eoi_layout_5 div.fca_eoi_layout_submit_button_wrapper, form.fca_eoi_layout_5 div.fca_eoi_layout_submit_button_wrapper {
	border-bottom: 0!important;
}
.review_news_content .fca_eoi_layout_email_field_wrapper .fca_eoi_form_input_element {
	font-size: 14px !important;
}
.all_review {
	padding: 40px 0;
}
.all_review h2 {
	border-bottom: 1px solid #dedede;
	font-size: 28px;
	padding-bottom: 12px;
	margin-bottom: 10px;
	font-weight: 300;
}
.all_review .alpha_title {
	font-size: 28px;
	color: #23a4b7;
	margin-top: 20px;
	font-weight: 300;
}
.all_review a {
	font-size: 14px;
	color: #000000;
	display: block;
	margin: 4px 0;
}
.all_review a:hover {
	text-decoration: none;;
}
.home_review_list {
	padding-bottom: 40px;
}
.widget_sidebar {
	margin-top: 45px;
}
.reviews-middle .btn_rev .pormooffers {
	background: #29a4b9;
}
.reviews-middle .btn_rev .pormooffers, .reviews-middle .btn_rev .fullreviews {
	padding:8px 18px;
	font-size: 12px;
	color: #ffffff;
	font-weight: 400;
	display: inline-block;
	border-radius: 4px;
	margin-top: 8px;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.reviews-middle .btn_rev .fullreviews{
	background: #3a4e61;
}
.reviews-middle .fullreviews:hover, .reviews-middle .btn_rev .pormooffers:hover {
	text-decoration: none;
	box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.4);
}
.des_cat {
	margin-top: 10px;
}
span.srt_by {
	color: #2196a6;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 5px;
}
.blog_dropdwon {
	padding-right: 10px;
}