@media (max-width: 767px) {
.review_cat_list li {
	width: 140px;
	margin: 5px;
}
.review_cat_list h3 {
	font-size: 12px;
}
.top_menu .main-menu a {
	padding: 0px;
}
.main-menu {
	padding: 0px;
}
.top_menu .search_header .btn-outline-success {
	width: 45%;
	display: inline-block;
}
.top_menu .search_header input {
	width: 30%;
	display: inline-block;
}
.review_cat_title {
	text-align: center;
}
.review_cat_title .vry_bst {
	max-width: 100%;
}
.footer_top .footer-menu ul{
	border: none;
}
.footer_top .footer_search {
	padding-left: 15px;
}
.footer_search .review_btn, .footer_search .seach_review {
	width: 50%;
}
.footer_search .review_btn {
	padding: 10px 0px;
}
.footer_menu{
	margin-bottom: 15px;
}
.footer_top .social-lnks {
	margin-top: 20px;
	text-align: center;
}
.footer_bottom, .footer_bottom .footer_pp {
	text-align: center;
	font-size: 12px;
}
.review_news_content .mo-optin-form-email-field, .review_news_content .lupinSidebar-submit {
	width: 100% !important;
	margin-right: 0px;
}
.home_review_list {
	padding-bottom: 0px;
}
.review_cat_title .home_title {
	font-size: 25px;
}
.recommended ul li{
	display: block;
	padding: 5px 0px;
}
.top_rev_title {
	width: 100% !important;
}
.single-review .whiteback h2 {
	font-size: 16px;
	color: #3e4e5f;
	font-weight: 700;
	margin: 0 0 15px 0;
	display: block;
}
.single-review .reviews-middle{
	display: none;
}
.single-review .whiteback h2 span {
	color: #bcbec0;
	display: inline-block;
	font-size: 14px;
}
.single-review .reviews-middle-mobile {
	display: block;
}
.single-review .reviews-middle-mobilelt {
	width: 100%;
	float: left;
	margin: 1%;
}
.single-review .reviews-middle-mobilelt p, .reviews-middle-mobilert p {
	font-size: 12px;
	color: #555555;
	font-weight: 300;
	margin-bottom: 8px;
}
.single-review .reviews-middle-mobilert span.redin {
	color: #d65b5b;
	font-weight: 700;
	display: block;
	line-height: 22px;
}
.single-review .reviews-middle-mobilert a.pormooffers {
	background: #29a4b9;
	padding: 6px 8px;
	font-size: 12px;
	color: #ffffff;
	font-weight: 400;
	display: inline-block;
	border-radius: 0px;
	margin-top: 8px;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.single-review .reviews-middle-mobilelt span.greenin {
	color: #68c164;
	font-weight: 700;
	display: block;
	line-height: 22px;
}
.single-review .review-testimonials h2 span {
	float: none;
}
.single-review .jslider .jslider-scale ins {
	font-size: 12px;
}
.single-review .company-reviews ul li a {
	display: inline-block;
	font-size: 12px;
	padding: 10px 10px;
	width: 100%;
}
.single-review .review-testimonials p {
	display: inline-block;
	padding-top: 10px;
}
.single-review .paddnoo {
	padding-left: 0px;
	padding-right: 0px;
}
.single-review .reviews-left {
	width: 180px;
}
.single-review .allreviews {
	width: 100%;
}
.single-review .latest-reviewsright h3 {
	margin-top: 10px;
	display:inline-block;
}
.single-review .product-scoresin {
	width: 100%;
}
.single-review .product-scoresright h3, .single-review .number-reviewsright h3 {
	font-size: 14px;
}
.single-review .number-reviewsleft{
	padding-right: 8px;
}
.single-review .product-scores {
	padding: 30px 20px;
}
.single-review .product-scoresright {
	width: 185px;
}
.single-review .number-reviewsleft h2 {
	font-size: 20px;
}
.single_post_content .alignleft {
	display:block;
}
.left-arrow {
	margin-right: 0;
}
.single-review .company-reviews li {
	width: 50%;
}
.jslider .jslider-scale ins {
	left: -12px !important;
}
.jslider .jslider-scale {
	left: 15px !important;
}
.jslider .jslider-scale ins {
	top: -5px !important;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.review_cat_title .home_title {
	font-size: 20px;
}
.review_cat_title .vry_bst {
	max-width: 100%;
	padding: 10px 12px;
	font-size: 18px;
}
.review_cat_list li {
	width: 116px;
	margin-right: 0px;
}
.footer_search .review_btn {
	width: 35%;
}
.footer_search .seach_review {
	width: 65%;
}
.footer_bottom {
	font-size: 14px;
	text-align: center;
}
.top_menu .search_header .btn-outline-success {
	padding: 13px 40px !important;
}
.home_section_left, .home_section_right {
	max-width: 100% !important;
	flex: 0 0 100%;
}
.recommended ul li a , .recommended select , .recommended ul li{
	font-size: 11px;
}
.tax-review-type .top_rev_title {
	width: 28%;
	font-size: 16px;
	font-weight: 600;
}
.top_rev_title {
	width: 22%;
	font-size: 20px;
}
.single-review .allreviews {
	width: 100%;
}
.single-review .reviews-middle {
	width: 378px;
}
.review_news_content .lupinSidebar-submit {
	width: 30% !important;
}
.allreviews {
	padding: 0 5px;
}
.reviews-middle .btn_rev .pormooffers, .reviews-middle .btn_rev .fullreviews{
	padding: 8px 12px;
}
.jslider .jslider-scale ins {
	top: -8px !important;
}
}
/*-----end-media------*/
@media (max-width:991px) {
.navbar {
	width: 100%;
}
.top_menu .main-menu a {
	color: #fff;
}
.top_menu .search_header .btn-outline-success {
	padding: 13px 0px;
}
.top_menu .search_header input {
	padding: 12px 26px 12px 44px;
}
.top_menu {
	position: absolute;
	width: 100%;
	top: 100px;
	background: #3a4e61;
	z-index: 99;
	padding: 14px;
	margin-left: -10px;
}
.single-review .col-md-8, .single-review .col-md-4 {
	width: 100% ;
	max-width: 100% ;
	flex: 0 0 100%;
}
.navbar-light .navbar-toggler {
	border-color: transparent;
}
.navbar-toggler-icon {
	width: 40px;
	height: 40px;
}
}
/*-----end-media------*/
@media (min-width: 992px) and (max-width: 1199px) {
.review_cat_title .home_title {
	font-size: 28px;
}
.review_cat_list li {
	width: 155px;
	margin-right: 0px;
}
.top_menu .main-menu a {
	font-size: 14px;
}
.top_menu .search_header input {
	width: 30%;
}
.top_menu .search_header .btn-outline-success {
	padding: 13px 0px;
	width: 42%;
}
.recommended ul li a , .recommended select , .recommended ul li{
	font-size: 11px;
}
.tax-review-type .top_rev_title {
	width: 46%;
}
.top_rev_title {
	width: 22%;
	font-size: 20px;
}
.single-review .allreviews {
	width: 100%;
}
.single-review .product-scoresin {
	width: 100%;
}
.single-review .reviews-left {
	width: 130px;
	margin-right: 5px;
}
.single-review .reviews-middle {
	width: 358px;
	padding: 15px 12px;
	margin-right: 5px;
}
.single-review .product-scores {
	padding: 20px;
}
.single-review .product-scoresin {
	width: 100%;
}
.single-review .product-scoresright h3, .single-review .number-reviewsright h3 {
	font-size: 14px;
}
.single-review .number-reviewsleft{
	padding-right: 8px;
}
.single-review .product-scores {
	padding: 30px 20px;
}
.single-review .product-scoresright {
	width: 185px;
}
.single-review .number-reviewsleft h2 , .single-review .product-scores h2{
	font-size: 20px;
}
.allreviews {
	padding: 0 5px;
}
.reviews-middle .btn_rev .pormooffers, .reviews-middle .btn_rev .fullreviews{
	padding: 8px 12px;
}
.single-review .achievements-awards h2, .single-review .stock-info h2 {
	font-size: 18px;
}
}
/*-----end-media------*/

